.container__dragons{
    background-color: red;   
}
.carrusel{
    background: rgb(223,223,223);
  background: linear-gradient(90deg, rgba(223,223,223,1) 0%, rgba(251,251,251,0.7819502801120448) 51%, rgba(223,223,223,1) 100%);
}