@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Open+Sans&display=swap');

.container {
    width: 80%;
    height: 100%;
    flex-direction: column;    
    background-color: #8c3a3a;
    padding-bottom: 16px;
}

 h2, h3, p, article {
    font-family: 'Lora';
}

