@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Open+Sans&display=swap');

.container{
    width: 500px ;
    height: 375px;
    padding: 20px;
    margin-right: 145px ;
    display: flex;
    vertical-align: center;
    border : 1px black solid;
}
.container__image{
    border: 1px solid black;
    
}
.container__image-img{
    width: 130px;
    height: 130px;
    border : 1px black solid;
}
.container__article{
    border : 1px black solid;
    width: 80%;
    text-align: center;
}
.container__article-article{
    border : 1px black solid;
    font-family: 'Open-Sans';
}