@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Open+Sans&display=swap');

.welcome__container{
        margin-top: 70px;
        margin-bottom: 50px;
        margin-right: 150px;
        border: 1px; 
        width: 500px;
        height: 300px;
        border: 1px solid;
        padding: 5px;
        display: block;
        background-color: #e5e5e5;
}
.welcome__container__image{
    border: 1px  ;
     align-items: center;
     text-align: center;
     justify-content: center;
     
    }
    .welcome__container__image-img{
        width: 130px;
        height: 130px; 
        
    
}
.welcome__container__article{
    color: #7B0303;
    text-align: center;
}
.welcome__container__article-article{
    color: black;
    font-size: large;
    
}