@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Open+Sans&display=swap');

body {
    font-family: 'Lora';
    background-color: #f0efef
  }

  h2 {
      font-family: 'Open-Sans';
  }